.search-toolbar {
  display: flex;
  align-items: center; /* allineamento verticale al centro */
  gap: 0.5rem;          /* spazio tra bottone e input */
}

.error-message {
  color: #b00020;
  background: #fdd;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
