.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;

  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .search-form {
    width: 100%;
    max-width: 500px;
  }
}
